<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon.png" />
    <title>Wordle Words</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="welcome"><%= text %></div>
    <div class="starters">
      <button class="starter_btn">Starting Words</button>
      <div class="starter_results1"></div>
      <div class="starter_results2"></div>
    </div>
    <div class="find_words">
      <p>Enter letters to search the word list.</p>
      <p>Use a CAPITAL letter to lock the position of the letter.</p>
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        class="form_find_words_input1"
      />
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        class="form_find_words_input2"
      />
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        class="form_find_words_input3"
      />
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        class="form_find_words_input4"
      />
      <input
        type="text"
        autocorrect="off"
        autocapitalize="none"
        class="form_find_words_input5"
      />
      <button class="find_words_btn" type="button">Find Words</button>
      <div class="find_words_results1"></div>
      <div class="find_words_results2"></div>
    </div>
    <footer>
      <!-- Todo -->
      <!-- Add Debug button and footer info -->
    </footer>

    <script type="module" src="js/script.js"></script>
  </body>
</html>
