<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle-Words</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <!-- <img src="img/maya_moon.jpeg" alt="cat" /> -->
    <h1><%= text %></h1>
  </body>
</html>
