* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height: 100vh;
  padding: 2rem;
}

.welcome {
  font-size: 10vw;
  font-weight: 500;
  color: gold;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  /* grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem; */

  /* NOTE This creates the fade in/out anumation */
  /* opacity: 0; */
  transition: all 1s;
}

.starters,
.find_words {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.find_words {
  display: none;
}

.starter_btn,
.find_words_btn {
  border: none;
  width: 200px;
  border-radius: 8px;
  font-size: 1.8rem;
  /* color: white; */
  padding: 15px 32px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.starter_btn:hover,
.starter_btn:focus,
.find_words_btn:hover,
.find_words_btn:focus {
  outline: none;
  color: #777;
}

.starter_results1,
.find_words_results1 {
  padding-top: 2rem;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: -0.2rem;
}

.starter_results2,
.find_words_results2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.form_find_words_input1,
.form_find_words_input2,
.form_find_words_input3,
.form_find_words_input4,
.form_find_words_input5 {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  padding: 1rem;
}
